.navlink {
  text-decoration: none;
  color: white;
  height: 40px;
}
.navlink:hover {
  color: white;
}

.navtar {
height: 40px;
width: 40px;
}

.nav-item {
  height: 40px;
}

.avatar-div {
  padding-top: 0px;
}

.QuestAvatar {
  height: 80px;
  width: 80px;
}
